body{
  font-family: 'Open Sans', sans-serif;
  background:#3498db;
  margin: 0 auto 0 auto;  
  width:100%; 
  text-align:center;
  margin: 20px 0px 20px 0px;   
}

p{
  font-size:12px;
  text-decoration: none;
  color:#ffffff;
}

h1{
  font-size:1.5em;
  color:#525252;
}

.box{
  background:white;
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #2980b9 4px solid; 
}

.email{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:250px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width:250px;
  font-size:1em;
}

.btn{
  background:#2ecc71;
  width:125px;
  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #27ae60 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  float:left;
  margin-left:16px;
  font-weight:800;
  font-size:0.8em;
}

.btn:hover{
  background:#2CC06B; 
}

#btn2{
  float:left;
  background:#3498db;
  width:125px;  padding-top:5px;
  padding-bottom:5px;
  color:white;
  border-radius:4px;
  border: #2980b9 1px solid;
  
  margin-top:20px;
  margin-bottom:20px;
  margin-left:10px;
  font-weight:800;
  font-size:0.8em;
}

#btn2:hover{ 
background:#3594D2; 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  width:100%;
}

p {
  color: grey;
  font-size: 16px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
#main {
  max-width: 95%;
  width: 500px;
}
#tab-btn {
  display: flex;
}
.login-tab,
.register-tab {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #37474f;
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 10px;
}
.active {
  background-color: #eee;
  color: #000;
}
.login-box,
.register-box {
  width: 100%;
  background-color: #eee;
  padding: 20px 30px 30px 30px;
  box-shadow: 2px 2px 5px #555;
}
.register-box {
  display: none;
}
.inp {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 20px;
  border: 2px solid #888;
  border-bottom: 5px solid #888;
  background-color: #fff;
  color: #666;
}
.inp:focus {
  outline: none;
  border: 2px solid #555;
  border-bottom: 5px solid #555;
}
.sub-btn {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  border-bottom: 5px solid #444;
}
.sub-btn:focus {
  outline: none;
}
.sub-btn:active {
  border: none;
  margin-top: 5px;
}
#forgot {
  font-size: 20px;
  color: #444;
  text-decoration: none;
  display: block;
}
h2 {
  text-align: center;
  padding-bottom: 15px;
  font-variant: small-caps;
  color: #333;
  font-size: 30px;
}